body {
    margin: 0;
    padding: 0
}

#banner {
    width: 100%;
    height: 590px;
    background-image: url(../images/banner.jpg);
    background-size: cover
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 30px
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 15px
}

nav ul li a {
    color: black;
    text-decoration: none
}

nav ul li a:hover {
    border-bottom: 2px solid black;
}


h3 {
    font-size: 22px
}

#sidetxt {
    color: white;
    position: relative;
    top: 30%;
    font-size: 30px
}

#box {
    display: flex;
    justify-content: center;
    padding: 50px
}

#grey {
    background-color: lightgray;
    padding: 20px;
    width: 40%;
    height: 260px
}

#pic {
    background-image: url(../images/Site-Attraction.jpg);
    background-size: cover;
    width: 40%;
    height: 300px
}

header {
    width: 990px;
    margin-bottom: 20px;
    background-color: white;
}


#bsect {
    padding: 55px;
    background-color: ghostwhite;
}

#ssect {
    display: flex;
    justify-content: space-between;
}

#box1 {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: lavender;
}

.sbox {
    width: 100%;
    height: 300px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px
}

footer ul {
    list-style-type: none
}

footer  #s-icons{
    display: flex
}

#s-icons div a img {
    background-color: white;
    width: 50%;
    border-radius: 50%;
    margin: 10px;
}

#insta:hover {
    background-image:linear-gradient(30deg, yellow, red, deeppink, rebeccapurple)
}

#lnk:hover {
    background-color: royalblue
}

h1, h3, h4, p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h4 a {
    text-decoration: none;
    color: black
}


h4 a:hover {
    border-bottom: 3px solid yellow;
    width: 100px
}
